
@{
    ViewData["Title"] = "LastSession";
}

<h1>LastSession</h1>
<div class="d-flex justify-content-center align-items-center">
    <img class="border border-1" src="/images/last_session.png" style="max-width: 500px; max-height: 500px; object-fit: contain; padding: 10px"/>
</div>

