
@{
    ViewData["Title"] = "TodayStats";
}

<h1>TodayStats</h1>

<div class="d-flex flex-column justify-content-center align-items-center">
    <img class="mb-3" src="/images/stats.png" style="width: 200px; height: 200px;"/>
    <span>Calories burnt today: 2197 kcal</span>
    <span>Distance ridden today: 19 km</span>
    <span>time duration: 2h & 27 min</span>
</div>
