@using WebApplication1.Models.Account;
@model LoginModel;
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="d-flex justify-content-center align-items-center" id="login-container">
    <form class="shadow-sm rounded bg-body-tertiary" method="post" id="login-form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <label asp-for="Password" class="form-label"></label>
            <div class="input-group">
                <input asp-for="Password" class="form-control password">
                <div class="d-flex justify-content-end">
                    <button class="bi-eye-fill position-absolute btn btn-link text-dark shadow-none password-icon" tabindex="-1" type="button"></button>
                </div>
            </div>
        </div>
        <div class="form-check mb-3">
            <input asp-for="RememberMe" class="form-check-input">
            <label asp-for="RememberMe" class="form-check-label"></label>
        </div>
        <button type="submit" class="btn btn-primary w-100 mb-1">Log in</button>
        <a class="nav-link text-center" asp-action="Register" style="color: #28B5F5">Don't have an account? Register here!</a>
    </form>
</div>
<div class="d-flex justify-content-center">
    <img src="/images/bicycle.png" style="opacity: 0.50; z-index: -999"/>
</div>

